* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: Calibri, sans-serif;    
}

.main {
   position:relative;
}

.page {
  margin: 0.3% 0.3% 0.3%;  
  width: 99%;
  z-index: 2;
}

.header {
  padding: 0.5em;
  text-align: center;
}

.logo {
  font-size: 3em;
  color: #fff;  
}

.main-fieldset {
  background-color: rgb(243, 243, 243, 0.52);
  border: 0.1em gray solid;
  border-radius: 0.5em;
  padding: 1em;
}

.container {  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;  
  padding: 2em;    
  background: url('../img/grafico.jpg') no-repeat;
  background-size: cover;  
  width: 100vw;
  height: 100vh;  
}

.cover {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background:#ccc;
  opacity: 0.3;  
}

.clear {
  clear: both;
}

.row-input, .row-input18, .row-input20, .row-input33 {
  float: left;
  margin: 1em 0 0.5em;
  position: relative;
}

.row-input18 {
  width: 18%;
}

.row-input20 {
  width: 20%;
}

.row-input33 {
  width: 33%;
}

.form-fieldset{
  border: 1px solid gray;
  border-radius: 4px;
  margin: 0em 0em 0em 0em;
  padding: 0.2em;
  width: 10em;
}

label {
  display: inline-block;
  position: relative;
}

.campo{
  font-weight: 700;
  float: left;
  margin-top: -1.5em;
}

.campo-green {
  text-decoration-color: green;
}

.campo-red {
  text-decoration-color: red;
}

.campo-radio {
  float: right;
  width: 85%;
}

input, select {
  background-color: white;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-weight: 700;
  height: 1.8em;
  margin-left: 1px;
  text-align: center;
}

.input{
  width: 8em;
}

.ol{
  width: 80%;
}

.ul {
  width: 100%;
}

.resumo__stop-gain {
  color: green;  
  font-weight: bold;  
}

.resumo__preco-medio {
  font-weight: bold;
}

.resumo__stop-loss{
  color: red;  
  font-weight: bold;
}

.resumo__operacao--venda {
  font-weight: bold;
  color: red;
}

.resumo__operacao--compra {
  font-weight: bold;
  color: green;
}

.button-icon {
  background: transparent;
  border: none;
}

.button-icon--add {
  font-size: 2rem;
  color: green;
}

.button-icon--add:hover {
  cursor: pointer;      
}

.button-icon--remove {
  font-size: 1.5rem;
  color: #777;
}

.button-icon--remove:hover {
  color: red;
  cursor: pointer;
}

/* Tabela */
.responstable {
  margin: 1em 0;
  width: 100%;
  overflow: hidden; 
  background: white;
  color: black;
  border: 1px solid gray;
  border-radius: 4px;
  text-align: center;
  text-transform: capitalize;
}

tr {
  border: 1px solid rgba(204, 204, 204, 0.96);  
}

td {
  padding: 1rem;
}

th {
  display: none;
  border: 1px solid darken(#398B93, 30%);
  color: white;
  font-size: 1.5em;
  padding: 1em;
}

tbody tr:nth-child(odd) {
  background-color: rgba(204, 204, 204, 0.96);
}

/* Nav */
.nav_tabs {
  border-radius: 10px;
  height: 500px;
  margin: 5px auto;
  position: relative;
  width: 99%;
  display: block;
}

.nav_tabs ul {
  list-style: none;
}

.nav_tabs ul li {
  background-color: #777;
  border: 1px gray solid;
  border-bottom: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  float: left;
}

.nav_tabs .label {
  display: block;
  color: black;
  cursor: pointer;
  padding: 0.5em;
  text-align: center;
  width: 130px;
}

.rd_tabs:checked ~ label {
  background-color: #ccc;
  border-bottom: 1px gray solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.rd_tabs {
  display: none;
}

.content {
  border-top: 2em solid darken(#398B93, 30%);
  background-color: white;
  display: none;
  position: absolute;  
  width: 100%;
  left: 0;  
}

.mini {
  width: 75%;
}

.content article {
  padding: 1em;    
}

.rd_tabs:checked ~ .content {
  border: 1px gray solid;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: block;
}
